.encabezado {
    background-image: url("./imagenes/background.jpg");
    text-align: left;
    margin-left: 5%;
    text-size-adjust: 15%;
    box-shadow: black;
    
}

.encabezado p {
    color: blue;
    text-align: left;
    margin-right: 1em;
}

.encabezado img {
    position: relative;
    left: 600px;
    bottom: 200px;
}

h1 {
    position: relative;
    left: 200px;
}

.voluntario-1 {
    position: relative;
    left: -250px;
    margin: 5%;
    box-shadow: black;
    background-color: yellowgreen;
}

.voluntario-1 img {
    position: relative;
    left: 50px;
}

.voluntario-1 h5 {
    position: relative;
    bottom: 85px;
    left: 200px;
    color: black;
}

.voluntario-1 p {
    font-size: 60%;
    color: black;
    position:relative;
    left:10px;
    bottom: 90px;
}

.voluntario-2 {
    position: relative;
    left: 540px;
    bottom: 391px;
    background-color: skyblue;
    margin: 10%;
    box-shadow: black;
}
.voluntario-2 img {
    position: relative;
    left: 50px;

}
.voluntario-2 h5 {
    position: relative;
    bottom: 85px;
    left: 200px;
    color: blue;
}

.voluntario-2 p {
    font-size: 60%;
    color: white;
    position:relative;
    left:10px;
    bottom: 90px;
    color:blue;
}
.voluntario-3 {
    position: relative;
    left: -250px;
    margin: 5%;
    bottom:350px;
    box-shadow: black;
    background-color: violet;
}

.voluntario-3 img {
    position: relative;
    left: 50px;
}

.voluntario-3 h5 {
    position: relative;
    bottom: 85px;
    left: 200px;
    color: black;
}

.voluntario-3 p {
    font-size: 60%;
    color: black;
    position:relative;
    left:10px;
    bottom: 90px;
}

.voluntario-4 {
    position: relative;
    left: 540px;
    bottom:741px;
    background-color: purple;
    margin: 10%;
    box-shadow: black;
}
.voluntario-4 img {
    position: relative;
    left: 50px;

}
.voluntario-4 h5 {
    position: relative;
    bottom: 85px;
    left: 200px;
    color: white;
}

.voluntario-4 p {
    font-size: 60%;
    color: white;
    position:relative;
    left:10px;
    bottom: 90px;
}
.quiero-voluntario{
    position:relative;
    bottom:650px;

}

.quiero-voluntario p{
    font-size: 90%;
    text-align: left;
}

.quiero-voluntario button {
    position: relative;
    padding:1%;
    left:650px;
    color:black;

}